.control
  .track
    .track-dot.-left
    .track-dot.-right
    .track-slide
    //- .track-bar
    //- .track-knob
  .track
    .track-dot.-left
    .track-dot.-right
    .track-slide
    //- .track-bar
    //- .track-knob
