.nav.-left(v-bind:class="{ '-isToggle': isToggle }")
  .nav-item
    .nav-border
    .nav-icon
      img(src='icons/record.png')
    .nav-text
      span.text DJ Queue
  .nav-item
    .nav-border
    .nav-icon
      img(src='icons/note.png')
    .nav-text
      span.text My Queue
  .nav-item.-open
    .nav-border
    .nav-icon
      img(src='icons/note.png')
    .nav-text
      span.text My Songs
    .nav-tip
      span.text My Songs
