.list
  .item.-react
    .item-slot: .icon: img.icon-resource(src='icons/record.png')
    .item-slot: span.text DJ Queue

  .item.-react
    .item-slot: .icon: img.icon-resource(src='icons/note.png')
    .item-slot: span.text My Queue

  .item.-react
    .item-slot: .icon: img.icon-resource(src='icons/cog.png')
    .item-slot: span.text Settings
