mixin item
  .queue-item
    span.text
      block

.side.-left
  //- .title Songs
  .queue
    +item All The Time - Bahamas
    +item All The Time - Bahamas
    +item All The Time - Bahamas
    +item All The Time - Bahamas
    +item All The Time - Bahamas
    +item All The Time - Bahamas
    +item All The Time - Bahamas
    +item All The Time - Bahamas
    +item All The Time - Bahamas
    +item All The Time - Bahamas
  .album
    .album-placeholder
    .album-cover
