.album {
  padding: 100% 0 0;
  background: $color-album;

  .album-cover,
  .album-placeholder {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
  }

  // .album-cover {}

  .album-placeholder {
    // background-image: url('../logo-beta-badge.svg');
    background-size: calc(100% - 3em);
  }
}
