.bar {
  display: flex;
  height: $nav-width;
  background: black;

  > .bar-left {
    flex: 1;
    display: flex;
  }

  > .bar-center {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  > .bar-right {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }
}



.item {
  width: $nav-width;
  height: $nav-width;
  background: $orange;
}



.nav {
  @extend %transition;
  flex: 0;
  background: $color-nav;

  &.-left, &.-right {
    min-width: 3em;
    max-width: 3em;

    @media (min-width: 60em) {
      flex: 1;
    }

    @media (min-height: 30em) {
      max-width: calc(50vh - #{$nav-width});
    }
  }

  &.-top {
    display: flex;
    height: 3em;
  }

  &.-right  { .nav-border { right:  0; } }
  &.-left   { .nav-border { left:   0; } }

  &.-left  { .nav-tip { left:  calc(100% + 1em); } }
  &.-right { .nav-tip { right: calc(100% + 1em); } }

  &.-left  { .nav-tip::before { left:  -0.25em; } }
  &.-right { .nav-tip::before { right: -0.25em; } }
}

.nav-item {
  // padding: 1em 1em 1em 3em;
  padding: 1em;
  cursor: pointer;

  &:hover,
  &.-open {
    .nav-border {
      width: 100%;
    }
  }

  &:hover .nav-tip {
    opacity: 1;
  }
}

.nav-border {
  @extend %transition;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 0;
  background: $orange;

  // background: linear-gradient(#f90, #f60);
  // box-shadow: inset 0 0 em(8) 0 #f60;
}

.nav-icon {
  position: absolute;
  top: 0.5em;
  left: 0.5em;
  width: 2em;
  height: 2em;
  // background-image: url('../icons/cog.png');
  // background-color: blue;
  // background-size: calc(100% - #{$nav-width / 2});
}

.nav-text {
  @extend %ellipsis;
  @extend %transition;
  opacity: 0;

  @media (min-width: 60em) {
    opacity: 1;
  }
}

.nav-tip {
  @extend %transition;
  position: absolute;
  top: 0.5em;
  padding: 0.5em;
  line-height: 1em;
  background: $orange;
  opacity: 0;
  z-index: 1;

  &::before {
    display: block;
    position: absolute;
    top: 0.625em;
    width: 0.75em;
    height: 0.75em;
    transform: rotate(45deg);
    background: $orange;
    content: '';
    z-index: -1;
  }
}
