.track {
  height: 0.5em;
}

.track-dot {
  position: absolute;
  width: 0.5em;
  height: 0.5em;
  border-radius: 50%;
  background: $black;

  // &.-left {}

  &.-right {
    right: 0;
  }
}

.track-slide {
  position: absolute;
  top: 0.125em;
  right: 0.25em;
  left: 0.25em;
  height: 0.25em;
  background: $black;
}
