.nav.-right(v-bind:class="{ '-isToggle': isToggle }")
  .nav-item
    .nav-border
    .nav-icon
      img(src='icons/cog.png')
    .nav-text Lobbies
  .nav-item.-open
    .nav-border
    .nav-icon
      img(src='icons/cog.png')
    .nav-text Friends
  .nav-item
    .nav-border
    .nav-icon
      img(src='icons/cog.png')
    .nav-text Settings
    .nav-tip Settings
