.list
  .item.-react
    .item-slot: .icon: img.icon-resource(src='src/svg/record_16.svg')
    .item-slot: span.text DJ Queue

  .item.-react
    .item-slot: .icon: img.icon-resource(src='src/svg/record_16.svg')
    .item-slot: span.text My Queue

  .item.-react
    .item-slot: .icon: img.icon-resource(src='src/svg/record_16.svg')
    .item-slot: span.text Settings
