/*|===============================|*\
|*| This file does the following: |*|
|*| ~ Creates global variables    |*|
|*|   to use in the components.   |*|
|*| ~ Creates global variants     |*|
|*|   and helper styles           |*|
|*| ~ Compiles all the components |*|
|*|   to one index.css file.      |*|
\*|===============================|*/

// Global Variables
// TODO: Put color vars.



// Global styles
.-nopad
  margin 0
  padding 0

.-fill
  width 100%
  height 100%

.-flex
  display flex !important
