mixin chat-text
  .chat-text
    span.text
      block

.chat
  .chat-message
    .chat-avatar
    .chat-group
      +chat-text Hello World!
      +chat-text Hello World!
      +chat-text Hello World!
    .chat-attach
  .chat-message
    .chat-avatar
    .chat-group
      +chat-text Hello World!
    .chat-attach
.message
