.list
  .item.-slim.-react
    .item-slot: span.text All The Time - Bahamas

  .item.-slim.-react
    .item-slot: span.text All The Time - Bahamas

  .item.-slim.-react
    .item-slot: .icon: img.icon-resource(src='src/svg/sound_16.svg')
    .item-slot: span.text All The Time - Bahamas

  .item.-slim.-react
    .item-slot: span.text All The Time - Bahamas

  .item.-slim.-react
    .item-slot: span.text All The Time - Bahamas

  .item.-slim.-react
    .item-slot: span.text All The Time - Bahamas
