doctype
html(lang='en-us')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width' initial-scale='1')
    style
      include ../tmp/index.css

  body

    include jade/layout.jade

    script(src='node_modules/vue/dist/vue.min.js')
    script
      include ../tmp/index.js
