mixin use(href)
  svg(role='img' style='width: 16px; height: 16px;')
    use(xlink:href=href)

mixin input-button
  a.input-button&attributes(attributes)
    span.text
      block

doctype
html(lang='en-us')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width' initial-scale='1')
    style
      include ../tmp/index.css

  body
    //- include ../tmp/svg-symbols.svg

    //- +use('record_16')
    //- +use('sound_16')

    //- .input-group
      +input-button.-red Hello
      +input-button.-orange Hello
      +input-button.-green Hello
      +input-button.-blue Hello
      +input-button.-purple Hello

    .input-group.-row
      +input-button.-red Hello
      +input-button.-orange Hello
      +input-button.-green Hello
      +input-button.-blue Hello
      +input-button.-purple Hello

    include jade/layout.jade

    script(src='node_modules/vue/dist/vue.min.js')
    script
      include ../tmp/index.js
