mixin use(href)
  svg(role='img' style='width: 16px; height: 16px;')
    use(xlink:href=href)

doctype
html(lang='en-us')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width' initial-scale='1')
    style
      include ../tmp/index.css

  body
    //- include ../tmp/svg-symbols.svg

    //- +use('record_16')
    //- +use('sound_16')

    include jade/layout.jade

    script(src='node_modules/vue/dist/vue.min.js')
    script
      include ../tmp/index.js
