.input-group {
  display: flex;

  .input-button {
    border-radius: em(2);

    &:first-child { border-radius: em(8 2 2 8); }
    &:last-child  { border-radius: em(2 8 8 2); }
    &:only-child  { border-radius: em(8);        }

    + .input-button {
      margin: em(0 0 0 2);
    }
  }
}

.input-button {
  display: block;
  padding: em(8 16);
  border-radius: em(8);
  color: $white;
  text-align: center;
  background: mix($navy, $black, 12.5%);

  &.-red    { background: $red;    }
  &.-orange { background: $orange; }
  &.-green  { background: $green;  }
  &.-blue   { background: $blue;   }
  &.-purple { background: $purple; }
  &.-gray   { background: $gray; }
}
