.chat {
  // display: flex;
  // flex: 1;
}

.chat-avatar {
  position: absolute;
  bottom: 0;

  width: em(32);
  height: em(32);
  margin: em(8);
  border-radius: 50%;
  background: $black;
}

.chat-group {
  // margin: em(8);
}

.chat-bubble {
  // min-height: em(32);
  padding: em(8 12);
  border-radius: em(2 8 8 2);

  background: $red;

  &:first-child { border-radius: em(8 8 8 2); }
  &:last-child  { border-radius: em(2 8 8);    }
  &:only-child  { border-radius: em(8);         }

  span {
    font-size: em(14);
    line-height: 1;
  }

  + .chat-bubble {
    margin: em(2 0 0);
  }
}

.chat-message {
  display: flex;
  padding: em(8);

  &.-sent {
    justify-content: flex-end;

    .chat-bubble {
      border-radius: em(8 2 2 8);
      color: $white;
      background: $blue;

      &:first-child { border-radius: em(8 8 2 8); }
      &:last-child  { border-radius: em(8 2 8 8); }
      &:only-child  { border-radius: em(8);         }
    }
  }
}

.message {
  display: flex;
  background: $color-message;

  textarea {

  }

  input[type=button] {
    padding: em(16);
    background: $orange;
  }
}
