.chat {
  // display: flex;
  // flex: 1;
}

.chat-avatar {
  position: absolute;
  bottom: 0;

  width: em(32);
  height: em(32);
  margin: em(8);
  border-radius: 50%;
  background: $black;
}

.chat-group {
  // margin: em(8);
}

.chat-bubble {
  // min-height: em(32);
  padding: em(8 12);
  border-radius: em(4 16 16 4);

  color: $black;
  background: rgb(191, 191, 191);

  &:first-child { border-radius: em(16 16 16 4); }
  &:last-child  { border-radius: em(4 16 16);    }
  &:only-child  { border-radius: em(16);         }

  span {
    font-size: em(14);
    line-height: 1;
  }

  + .chat-bubble {
    margin: em(4 0 0);
  }
}

.chat-message {
  display: flex;
  padding: em(8);

  &.-sent {
    justify-content: flex-end;

    .chat-bubble {
      border-radius: em(16 4 4 16);
      color: $white;
      background: $orange;

      &:first-child { border-radius: em(16 16 4 16); }
      &:last-child  { border-radius: em(16 4 16 16); }
      &:only-child  { border-radius: em(16);         }
    }
  }
}

.message {
  display: flex;
  background: $color-message;

  textarea {
    flex: 1;
    padding: em(16);
  }

  input[type=button] {
    padding: em(16);
    background: $orange;
  }
}
