.item {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  padding: em(4 6);
  color: $white;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;

  .item-slot {
    padding: em(4 6);

    &:only-child {
      padding: em(4 6 4 34);
    }
  }

  &.-react {
    cursor: pointer;

    &:hover {
      background: $blue;
    }
  }

  &.-slim {
    padding: em(2 6);

    > .item-slot {
      padding: em(2 6);

      &:only-child {
        padding: em(2 6 2 34);
      }
    }
  }
}
