@import 'bower_components/color-sass/scss/main';
@import 'bower_components/pilot-reset/scss/main';
@import 'bower_components/mint-sass/scss/main';

body {
  color: $white;
  // font-family: 'HelveticaNeue-CondensedBold';
}

@import 'scss/variables';
@import 'scss/placeholders';
@import 'scss/layout';
@import 'scss/nav';
@import 'scss/queue';
@import 'scss/album';
@import 'scss/chat';
@import 'scss/track';

@keyframes bass {
  0%, 100% { transform: scale(1);    }
  10%, 90% { transform: scale(1.15); }
  20%, 80% { transform: scale(1.1);  }
  30%, 70% { transform: scale(1.05); }
  40%, 60% { transform: scale(1.1);  }
  50%      { transform: scale(1.05); }
}
