.album {
  padding: 100% 0 0;
  background: $color-album;
}

%album-position {
  @include reset-position;
  position: absolute;
}

.album-placeholder {
  @extend %album-position;
  background-image: url('../logo-beta-badge.svg');
  background-size: calc(100% - 3em);
}

.album-cover {
  @extend %album-position;
}
