.tab {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin: 0 0.125em;
  border-radius: 0.125em 0.125em 0 0;

  &:not(.-root) {
    padding: 1em;
    background: rgba($black, 0.2);
  }

  &.-root {
    flex-direction: row;
  }

  &.-new {
    max-width: 1em;
  }

  &.-active {
    background: rgba($black, 0.4);
  }

  &-border {
    height: 0.25em;
    border-radius: 0.125em;
    background: $orange;
  }
}
